{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #efefef
}


.profile-img{
	width: 40%;
	float: right;
}
.about{
	width: 25%;
	float: left;
	margin-left: 15px;
}
.profile-info{
	width: 60%;
	float: left;
}

@media only screen and (max-width: 992px){
	.profile-info{
		width: 100%;
		overflow: inherit;
	}
	.profile-img{
		width: 100%
	}
	body{
		background-color: blue;
	}
}